@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 40, 40);
    font-family: 'Tilt Neon', cursive;
    scroll-behavior: smooth;
}


    
@media screen {
    .header{
        color: #fff;
        margin:auto;
        margin-top: 30px;
        text-align: center;
    
    }
    
    .container{
        font-size: 16px;
        padding: 3em 1.8em;
        background-color: #1e293b;
        border-radius: 0.6em;
        box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
        height: auto;
        width: 50vw;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .values-container1{
        display: grid;
        grid-template-columns: 6fr 6fr;
        gap: 1.2em;
        width: auto;
    }
    
    .values-container1 input{
        font-size: 0.9em;
        outline: none;
        border-radius: 0.3em;
        background-color: transparent;
        border: 1px solid #a0a0a0;
        color: #fff;
        padding: 0.7em;
    }
    
    .values-container2{
        margin-top: 2vh;
        width:18em;
        gap: 1.2em;
    }
    
    .values-container2 button{
        background-color: #ffb92a;
        border: none;
        cursor: pointer;
        color:#1e293b;
        font-size: 0.9em;
        outline: none;
        width:max-content;
        padding: 0.7em ;
        border-radius: 0.3em;
    }
    
    table ,th ,td{
            margin-top:5vh;
            border:none;
            border-collapse: collapse;
            text-align: center;
            height: auto;
            width: 45vw;
            margin: auto;
            margin-top: 30px;
    }
        th{
            padding: 10px 16px;
        }
    td{
            padding:10px 18px;
    }
 }



.footer{
    position: relative;
    bottom: 0;
    top:100px;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    margin-bottom: 0px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 5px;

}
.socials a i{
    font-size: 30px;
    width: 40px;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@media (max-width:768px) {
    .body{
        font-size: 10px;
    }
    .container{
        margin:0;
        width:100%;
        margin-top: 20px;
    }
    .values-container1{
        grid-template-columns: 6fr 6fr;
        gap: 0.5em;
    }
    .values-container2{
        grid-template-columns: 6fr 3fr;
        gap: 0.5em;
       
    }
    table{
        font-size: 10px;
        padding:10px 9px;   
    }
    .footer-content h3{
        font-size: 25px;
    }
    .socials a i{
        font-size: 20px;
    }
 }
 @media (max-width:390px) {
    .values-container1{
        grid-template-columns: 6fr;
        gap: 0.5em;
    }

    .values-container2{
        grid-template-columns: 6fr;
        gap: 0.5em;
    }
    .values-container2 button{
        height:40px;
    }
 }




#result{
    color: #fff;
}

