@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(40, 40, 40);
    font-family: 'Tilt Neon', cursive;
    scroll-behavior: smooth;
}

.header{
    color: #fff;
    margin-left: 40%;
}

.container{
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #1e293b;
    margin:5% 28%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.values-container1{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 1.2em;
}

.values-container1 input{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.values-container2{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1.2em;
}

.values-container2 input{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.values-container2 button{
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}
@media screen {
    table ,th ,td{
        margin-top:5vh;
        /* border:#fff solid 1px; */
        border-collapse: collapse;
        border-radius: 4px;
        text-align: center;
    
        
    }
    th{
        padding:10px 33px;
    }
    
    td{
        padding:10px 20px;
    }
    
    
}

@media (max-width:480px){
    body{
        font-size:12px;
    }
    .header{
        margin-left: 30%;
    }
    .container{
       width: 400px;
       margin:5% 2%;
    }
    table ,th ,td{
        margin-top:5vh;
        border-collapse: collapse;
        text-align: center;
    
        
    }
    th{
        padding:10px 16px;
    }
    
    td{
        padding:10px 12px;
    }
}



.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 50%;

}
.socials a i{
    font-size: 30px;
    width: 68px;    
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-bottom p{
    float: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@media (max-width:320px){
    body{
        font-size:12px;
    }
    .header{
        margin-left: 20%;
    }
    .container{
       width: 270px;
       font-size: 10px;
       margin:5% 2%;
    }
    table ,th ,td{
        margin-top:5vh;
        border-collapse: collapse;
        text-align: center;
    
        
    }
    th{
        padding:10px 12px;
    }
    
    td{
        padding:10px 9px;
    }

    .socials a i{
        font-size: 30px;
        width: 39px;    
        transition: color .4s ease;
    
    }
    .footer-content h3{
        font-size: 20px;
    }
}




#result{
    color: #fff;
}